/* GENERAL	*/
.txtVBig{font-size:22pt;}
.notBold{font-weight:normal;}
.bigBold{font-weight:800;}
.txtRight{text-align:right;}
.txtCenter{text-align:center;}


.anim{
	opacity:0.9;
	position:absolute;
	width:250px;
	height:120px;
	left:50%;
	top:50%;
	margin-left:-145px;
	margin-top:-80px;
	background-color:rgb(0,0,0);
	border:3px solid white;
	padding:20px;
	border-radius:10px;
	z-index:100000;
}
/* FIRST ACCUEIL */
#firstAccueil{
	left:-220px;
}

.infos{
	font-size:10pt;
}
.butStopFirst{
	position:absolute !important;
	margin-left:250px !important;
	margin-top:-30px !important;
	border:1px solid white !important;
	background-color:rgb(70,70,70) !important;
}



/*FIRST PARC*/
#firstParc{
	position:fixed;
	top:-90px;
	opacity:0;
}